{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.distributeurs) }}
<button type="button" class="btn-add-product-photo btn btn-info" data-collection="#photos">Add one image</button>
<div class="list-group mt-2" id="photos"
     data-index="{{ form.photos|length > 0 ? form.photos|last.vars.name + 1 : 0 }}"
     data-prototype="{{ form_widget(form.photos.vars.prototype)|e('html_attr') }}">
</div>
{{ form_end(form) }}


