{% extends  'base.html.twig' %}

{% block title %} Edit product {% endblock %}

{% block body %}
    <div class="container">
        <div class="col-6">
            <p><a href="{{ path('app_products') }}">Go back</a></p>
            <h1 class="text-center">Edit the product</h1>
            {{ include('products/_form.html.twig')}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('products-json') }}
    {{ encore_entry_script_tags('upload-product-image') }}

{% endblock %}
